.disabledList{
    
    pointer-events:none; 
    opacity:0.6;        

}

/* #todoList{
    border: 10px solid rgb(80, 46, 204);
    border-radius: 1rem;
} */

#mainnavbar{
    background: rgb(141, 46, 204);
}